body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Align items at the start to allow scrolling */
    min-height: 100vh;
    background-color: #f0f2f5;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
}

.login-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex-direction: row; /* Stack sections vertically */
    height: 100%;
}


.left-section, .right-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right-section {
    background-color: white;
    color: white;
    padding: 0px;
    width: 100%;
}

.right-section h1 {
    font-size: 42px;
    margin-bottom: -15px;
    color: #333;
}
.right-section p {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 0;
    color: #666;
}



.right-section .button {
    background-color: #FAFDFC;
    margin-bottom: 20px;
    
}

.right-section .button:hover {
    background-color: #218838;
    text-decoration: none; /* Bỏ gạch chân */
}

.right-section a {
    color: #666;
    text-decoration: none;
}

.right-section a:hover {
    text-decoration: none;
    color: #888;
}

.right-section .illustration1 {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.left-section {
    background-color: white;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.logo-container {
    margin-bottom: 10px;
}

.logo {

    width: 334px; /* Chiều rộng của logo */
    height: 130px; /* Chiều cao của logo */
    object-fit: contain;
    margin-bottom: 0px;
}
.left-section h2 {
    margin-top: 10px; /* Khoảng cách phía trên của tiêu đề */
    margin-bottom: 10px; /* Giữ khoảng cách phía dưới của tiêu đề */
    color: #333;
    font-size: 33px;    
}


.input-container {
    margin-bottom: 40px; /* Tăng khoảng cách giữa các khung */
    position: relative;
    /* margin-bottom: 25px; */
    width: 100%;
    max-width: 420px; /* Đặt chiều rộng tối đa cho khung nhập liệu */
    margin-left: auto;
    margin-right: auto;
}


.input-container .icon-container,
.input-container .eye-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.input-container .icon-container {
    left: 10px;
    font-size: 18px;
}

.input-container .eye-container {
    right: 10px;
    font-size: 18px;
    cursor: pointer;
}

.input-container input {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #dcdcdc;
    color: #333;
    
}

.newhere{
    width: 100%;
    max-width: 700px;
    margin-top: 10px;
    height: 220px;
}


.input-container input::placeholder {
    color: #888; /* Màu chữ của placeholder */
}

/* Dành cho icon con mắt */
.input-container input[type="password"] + .eye-icon {
    right: 10px;
}

.input-container input[type="password"] + .eye-icon:hover {
    color: #000;
}

/* Dành cho icon ổ khóa */
.input-container input[type="password"] {
    padding-right: 40px; /* Đảm bảo đủ khoảng trống cho icon */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000;
    text-align: left;
    margin-left: 13px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button {
    padding: 20px 65px;
    background-color: #069B63;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
}

.button:hover {
    background-color: #218838;
    color: #FFFFFF; /* Đảm bảo rằng màu chữ vẫn là màu trắng khi trỏ vào */
}

.forgot-password {
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.error-message {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}


.social-login h3 {
    margin-bottom: 10px;
    color: #666;
}

.social-buttons {
    display: flex;
    justify-content: center;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 1px solid #ddd;
    border-radius: 50%;
    background-color: white;
    color: #000;
    text-decoration: none;
    font-size: 24px;
    margin: 5px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.illustration1 {
    width: 80%;
    max-width: 300px;
    margin-top: 20px;
}


.send-code-button {
    width: 110px; /* Chiều rộng của nút gửi mã */
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #EEEDED; /* Màu nền của nút */
    color: #333; /* Màu chữ của nút */
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    border-radius: 0 5px 5px 0; /* Bo góc phải */
}
